* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
input {
  width: 50%;
  margin: 20px auto;
  height: 30px;
  text-align: center;
  border: 0.5 px;
  outline: none;
  border-radius: 15px;
}
ul {
  width: 45%;
  height: 70vh;
  border: 0.5px solid;
  overflow-y: scroll;
}
li {
  width: 80%;
  min-height: 20px;
  margin: 10px auto;
  border: 0.5px solid gray;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  word-break: break-all;
  word-spacing: 3px;
}
.delete {
  color: #ff0000;
}
button {
  background-color: #ff0000;
  color: white;
  width: 120px;
  margin: 20px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid #ff0000;
  letter-spacing: 1px;
}
button:hover {
  background-color: white;
  color: #ff0000;
  border: 1px solid rgb(18, 16, 16);
}
@media screen and (max-width: 1200px) {
  input {
    width: 70%;
  }
  ul {
    width: 65%;
  }
}
